extends layout

block content
  h3.my-3 EditSchedule
  form(method="post", action=`/schedules/${schedule.scheduleId}?edit=1`)
    input(type="hidden" name="_csrf" value!=csrfToken)
    div.form-group
      label(for="scheduleName") scheduleName
      input(type="text" name="scheduleName" value=schedule.scheduleName)#scheduleName.form-control
    div.form-group
      label(for="memo") memo
      textarea(name="memo")#memo.form-control #{schedule.memo}
    div.form-group
      label candidates
      ul.list-group
        each candidate in candidates
          li.list-group-item #{candidate.candidateName}
      label(for="candidates").my-2 addCandidates
      textarea(name="candidates")#candidates.form-control
    div
      button(type="submit").btn.btn-info submit
  h3.my-3 dangerModify
  form(method="post", action=`/schedules/${schedule.scheduleId}?delete=1`)
    input(type="hidden" name="_csrf" value!=csrfToken)
    button(type="submit").btn.btn-danger deleteSchedule
