extends layout

block content
  div.card.my-3
    div.card-header
      h4 #{schedule.scheduleName}
    div.card-body
      p(style="white-space:pre;") #{schedule.memo}
      div.card-footer
        p createdBy #{schedule.user.username}
    - var isMine=parseInt(user.id)===schedule.user.userId
    if isMine
      div
        a(href=`/schedules/${scheduleId}/edit`).btn.btn-info edit schedule
    h3.my-3 availabilities
    table.table.table-borderd
      tr
        th candidate
        each user in users
          th #{user.username}
      each candidate in candidates
        tr
          th #{candidate.candidateName}
          each user in users
          - var availability=availabilityMapMap.get(user.userId).get(candidate.candidateId)
          - var availabilitiesLabel=['ketsu','?','syutu'];
          - var buttonStyles=['btn-danger','btn-secondary','btn-success'];
          td
            if user.isSelf
              button                    
